{{#jqm-panel id=panelId theme="a" position="right" display="overlay" dismissible="false" title="About" closeButton="true" routeOnClose="home"}}
  <p>This is the content of the about panel</p>
  <h3>Example list view:</h3>
  {{#jqm-ulistview inset=true}}
    {{#jqm-listdivider}}Text inputs{{/jqm-listdivider}}
    <li>{{jqm-textinput placeholder="Example textinput"}}</li>
    <li>{{jqm-textarea type="textarea" placeholder="Example textinput"}}</li>
    <li>{{jqm-textinput type="number" placeholder="Example input number"}}</li>
    {{#jqm-listdivider}}File upload{{/jqm-listdivider}}
    <li>{{jqm-fileinput placeholder="Select a file" clearBtn="true" files=files}}</li>
    {{#jqm-listdivider}}Slider example{{/jqm-listdivider}}
    <li>{{jqm-slider highlight="true" value=50 min=0 max=100}}</li>
    {{#jqm-listdivider}}jQuery Mobile selector{{/jqm-listdivider}}
    <li>{{jqm-select options=options}}</li>
  {{/jqm-ulistview}}
{{/jqm-panel}}