{{#jqm-panel id=panelId theme="a" position="right" display="overlay" dismissible="false" title="About" closeButton="true"}}
  <p>This is the content of the about panel</p>
  {{jqm-textinput highlight="true" placeholder="Example textinput"}}
  {{jqm-textarea type="textarea" placeholder="Example textinput"}}
  {{jqm-textinput type="number" placeholder="Example input number"}}
  {{jqm-slider highlight="true" value=50 min=0 max=100}}
{{/jqm-panel}}