<!-- Home page -->
{{#jqm-page}}
  {{#jqm-header position="fixed"}}
      <h1>App home</h1>
  {{/jqm-header}}
  {{#jqm-content}}
      <div align="center">
          <p>This is the home content</p>
        {{jqm-button action=btnAction text=btnText icon="arrow-r" iconPos="right"}}
        {{jqm-button inline=true action="openPopup" text="Show sample popup"}}
        {{jqm-datepicker}}
      </div>
      {{#jqm-popup id=popupId title="Sample popup" theme="a" closeButton=true dismissible="false"}}
        <div style="max-width: 300px;">
          <p>Sample content. Click on X button to dismiss</p>
        </div>
      {{/jqm-popup}}
  {{/jqm-content}}
  {{outlet}}
{{/jqm-page}}
