<!-- Index page -->
{{#jqm-page}}
  {{#jqm-header position="fixed"}}
      <h1>Ember app</h1>
  {{/jqm-header}}
  {{#jqm-content}}
      <div align="center">
        {{jqm-button action="goHome" text="To home page"}}
      </div>
  {{/jqm-content}}
{{/jqm-page}}
